.btn-primary {
    -fx-background-color: #064EB9;
    -fx-text-fill: #FFF;
}

.btn-primary:hover {
    -fx-background-color: #0E65CC;
}

.btn-primary:pressed {
    -fx-background-color: #185bcf;
}

.btn-user-icon {
    -fx-background-image:url('../../public/userAdd.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: left 10px center;
    -fx-font-size: 13px;
}

.btn-serv-icon {
    -fx-background-image:url('../../public/ServAdd-Symbol.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: left 10px center;
    -fx-font-size: 13px;
}

.btn-tool-icon {
    -fx-background-image:url('../../public/ToolAdd-symbol.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: left 10px center;
    -fx-font-size: 13px;
}

.btn-doc-icon {
    -fx-background-image:url('../../public/docAdd-symbol.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: left 10px center;
    -fx-font-size: 13px;
}

.btn-cash-icon {
    -fx-background-image:url('../../public/cashAdd-symbol.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: left 10px center;
    -fx-font-size: 13px;
}

.btn-car-icon {
    -fx-background-image:url('../../public/carAdd-symbol.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: left 10px center;
    -fx-font-size: 13px;
}

.btn-back{
    -fx-background-color: transparent;
    -fx-text-fill: #064eb9;
    -fx-border-color: #064eb9;
    -fx-border-radius: 5px;
}

.btn-back:hover{
    -fx-background-color: #064eb9;
    -fx-text-fill: #ffffff;

}

.btn-edit{
    -fx-background-image:url('../../public/EditButtomOriginal.png');
    -fx-background-position:center;
    -fx-background-color:transparent;
    -fx-background-size: 27px, 27px;
    -fx-background-repeat:no-repeat;
    -fx-border-color:transparent;
}

.btn-edit:hover{
    -fx-background-image:url('../../public/EditButtomHover.png');
    -fx-background-position:center;
    -fx-background-color:transparent;
    -fx-background-size: 27px, 27px;
    -fx-background-repeat:no-repeat;
    -fx-border-color:transparent;
}

.btn-logout{
    -fx-background-image:url('../../public/iconeSair.png');
    -fx-background-color:transparent;
    -fx-background-position:right center;
    -fx-background-repeat:no-repeat;
    -fx-border-color:transparent;
    -fx-background-size: 15px;
}

.btn-logout:hover{
    -fx-background-image:url('../../public/iconeSairHover.png');
    -fx-background-color:transparent;
    -fx-background-repeat:no-repeat;
    -fx-border-color:transparent;
    -fx-text-fill: #ff0000;
}

.searchField {
    -fx-background-image:url('../../public/searchRegular.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right 10px center;
    -fx-font-size: 13px;
}

.searchField:focused {
    -fx-background-image: none;
}

.btn-primary {
    -fx-background-color: #064eb9;
    -fx-text-fill: #FFF;
}

.btn-primary:hover {
    -fx-background-color: #0E65CC;
}

.btn-primary:pressed {
    -fx-background-color: #185bcf;
}

.btn-delete {
    -fx-background-image: url("../../public/DeleteButtomOriginal.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-delete:hover {
    -fx-background-image: url("../../public/DeleteButtomHover.png");
}

.btn-edit {
    -fx-background-image: url("../../public/EditButtomOriginal.png");
    -fx-background-repeat: no-repeat;
}

.btn-edit:hover {
    -fx-background-image: url("../../public/EditButtomHover.png");
}