#cadastroCliente{
    -fx-border-radius: 5px;
    -fx-border-color: #b6b6b6;
    -fx-background-color: transparent;
}

#editarCliente{
    -fx-border-radius: 5px;
    -fx-border-color: #b6b6b6;
    -fx-background-color: transparent;
}
#cadastroFuncionario{
    -fx-border-color: #b6b6b6;
    -fx-border-radius: 5px;
    -fx-background-color: #ffffff;
}


.pane{
    -fx-border-color: #b6b6b6;
    -fx-border-radius: 5px;
    -fx-background-color: #ffffff;
    /*-fx-effect: dropshadow(GAUSSIAN, #636363,);*/
}