/*
    css base para tabelas do sistema
*/

.table-view{
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
 }
 
 .table-view:focused{
     -fx-background-color: transparent;
     -fx-background-radius: 20px;
 }
 
 .table-view .column-header-background {
     -fx-background-color: #F9FAFC;
     -fx-padding: 5px 10px 5px 10px;
     -fx-font-size: 15px;
 }
 
 .table-view .column-header-background .label{
     -fx-background-color: transparent;
     -fx-text-fill: #677788;
     -fx-font-weight: normal;
     -fx-alignment: left;
     -fx-padding: 0 5px 0 0;
 }
 
 .table-view .column-header {
     -fx-background-color: transparent;
 }
 
 .table-view .table-cell{
     -fx-text-fill: #3A4B5A;
     -fx-font-weight: normal;
 }